In [1]:
import pandas as pd
#Esto es un comentario
a = 1
b, c = 1, 1
for i in range(1, 3):
    if  a==b and b==c:
        print("todos son iguales")
    else:
        print("hay diferencias")
    c = b + a

todos son iguales
hay diferencias

## Descripci칩n

### Objetivos

El objetivo de este archivo es simplemente usar el lenguaje python y markdown sobre el notebook Jupyter.

### Importaci칩n de archivos

Archivos subidos por MRPANTHERSON en Kaggle.com

In [5]:


# Any results you write to the current directory are saved as output.
world = pd.read_csv('./input/world_population_1960_2015.csv', encoding='latin-1')
bands = pd.read_csv('./input/metal_bands_2017.csv', encoding='latin-1')
print(str(world))
print(str(bands))

         Country Name        1960        1961        1962        1963  \
0               Aruba     54208.0     55435.0     56226.0     56697.0
1             Andorra     13414.0     14376.0     15376.0     16410.0
2         Afghanistan   8994793.0   9164945.0   9343772.0   9531555.0
3              Angola   5270844.0   5367287.0   5465905.0   5565808.0
4             Albania   1608800.0   1659800.0   1711319.0   1762621.0
..                ...         ...         ...         ...         ...
259       Yemen, Rep.   5166311.0   5251663.0   5339285.0   5429501.0
260      South Africa  17396000.0  17949962.0  18459442.0  18936138.0
261  Congo, Dem. Rep.  15248246.0  15637715.0  16041247.0  16461914.0
262            Zambia   3049586.0   3142848.0   3240664.0   3342894.0
263          Zimbabwe   3752390.0   3876638.0   4006262.0   4140804.0

           1964        1965        1966        1967        1968  ...  \
0       57029.0     57360.0     57712.0     58049.0     58385.0  ...
1       17470.0     18551.0     19646.0     20755.0     21888.0  ...
2     9728645.0   9935358.0  10148841.0  10368600.0  10599790.0  ...
3     5665701.0   5765025.0   5863568.0   5962831.0   6066094.0  ...
4     1814135.0   1864791.0   1914573.0   1965598.0   2022272.0  ...
..          ...         ...         ...         ...         ...  ...
259   5522690.0   5619170.0   5720538.0   5827223.0   5937125.0  ...
260  19390554.0  19832000.0  20268594.0  20707258.0  21153722.0  ...
261  16903899.0  17369859.0  17861860.0  18378189.0  18913177.0  ...
262   3449266.0   3559687.0   3674088.0   3792864.0   3916928.0  ...
263   4279561.0   4422132.0   4568320.0   4718612.0   4874113.0  ...

           2006        2007        2008        2009        2010        2011  \
0      100830.0    101218.0    101342.0    101416.0    101597.0    101936.0
1       83373.0     84878.0     85616.0     85474.0     84419.0     82326.0
2    25183615.0  25877544.0  26528741.0  27207291.0  27962207.0  28809167.0
3    18541467.0  19183907.0  19842251.0  20520103.0  21219954.0  21942296.0
4     2992547.0   2970017.0   2947314.0   2927519.0   2913021.0   2904780.0
..          ...         ...         ...         ...         ...         ...
259  21093973.0  21701105.0  22322699.0  22954226.0  23591972.0  24234940.0
260  47921682.0  48596781.0  49296223.0  50020918.0  50771826.0  51549958.0
261  57926840.0  59834875.0  61809278.0  63845097.0  65938712.0  68087376.0
262  12381509.0  12738676.0  13114579.0  13507849.0  13917439.0  14343526.0
263  13127942.0  13297798.0  13495462.0  13720997.0  13973897.0  14255592.0

           2012        2013        2014        2015
0      102393.0    102921.0    103441.0    103889.0
1       79316.0     75902.0     72786.0     70473.0
2    29726803.0  30682500.0  31627506.0  32526562.0
3    22685632.0  23448202.0  24227524.0  25021974.0
4     2900247.0   2896652.0   2893654.0   2889167.0
..          ...         ...         ...         ...
259  24882792.0  25533217.0  26183676.0  26832215.0
260  52356381.0  53192216.0  54058647.0  54956920.0
261  70291160.0  72552861.0  74877030.0  77266814.0
262  14786581.0  15246086.0  15721343.0  16211767.0
263  14565482.0  14898092.0  15245855.0  15602751.0

[264 rows x 57 columns]
      Unnamed: 0        band_name  fans formed          origin split  \
0              0      Iron Maiden  4195   1975  United Kingdom     -
1              1            Opeth  4147   1990          Sweden  1990
2              2        Metallica  3712   1981             USA     -
3              3         Megadeth  3105   1983             USA  1983
4              4      Amon Amarth  3054   1988          Sweden     -
...          ...              ...   ...    ...             ...   ...
4995        4995            Atara     0   2006          France  2006
4996        4996       Avicularia     0   2003         Croatia     -
4997        4997            Awake     0   2006  United Kingdom  2006
4998        4998           Axatak     0   1983       Australia  1988
4999        4999  Axis Of Despair     0   2014          Sweden  2014

                                                 style
0                      New wave of british heavy,Heavy
1     Extreme progressive,Progressive rock,Progressive
2                                Heavy,Bay area thrash
3                               Thrash,Heavy,Hard rock
4                                        Melodic death
...                                                ...
4995                                   Black,Grindcore
4996                                  Avantgarde death
4997                                 Heavy,Progressive
4998                                   Hard rock,Heavy
4999                                         Grindcore

[5000 rows x 7 columns]

Extraigamos algunos datos de las tablas

In [21]:
bands_size = bands.size
bands_cols = bands.columns
band_names, band_fans = bands[bands_cols[1]], bands[bands_cols[2]]
print('tama침o: '+ str(bands_size) + '\n' 
      + 'encabezados: ' + str(bands_cols)
      + 'bandas y fans: ' + str(band_names) + str(band_fans))

tama침o: 35000
encabezados: Index(['Unnamed: 0', 'band_name', 'fans', 'formed', 'origin', 'split',
       'style'],
      dtype='object')bandas y fans: 0           Iron Maiden
1                 Opeth
2             Metallica
3              Megadeth
4           Amon Amarth
             ...
4995              Atara
4996         Avicularia
4997              Awake
4998             Axatak
4999    Axis Of Despair
Name: band_name, Length: 5000, dtype: object0       4195
1       4147
2       3712
3       3105
4       3054
        ...
4995       0
4996       0
4997       0
4998       0
4999       0
Name: fans, Length: 5000, dtype: int64

Unamos cada banda con sus fans y probemos ordenarlos

In [47]:
fans_by_band = [{}]
for i in range(len(band_names)):
    band_name = band_names[i]
    fans = band_fans[i]
    fans_by_band.append({'id':i, 'band_name':band_name, 'fans':fans})
fans_by_band
order_more_fans = fans_by_band.sort(key='id' , reverse= True)

TypeError: 'str' object is not callable